# Pickel in python: object serialization

In [15]:
import pickle

In [5]:
flower_dict = {1:'rose',2:'lily',3:'lotus',4:'tilip'}

file name = 'flower'
out file = open(filename, wb)

In [6]:
# filename ='flower'
outfile = open('flower.obj','wb') # wb(write binary) , obj (object file)

In [8]:
# pickling the file
#dump method serialization

pickle.dump(flower_dict,outfile)
outfile.close()

# unpickle  thw file
infile=open(filename,'rb')

In [9]:
# unpickle the file
infile=open('flower.obj','rb') #  open methode - tcp ip on internate

In [10]:
#de - serialize
# load methode
new_dict=pickle.load(infile)

In [12]:
infile.close()

In [13]:
print(new_dict)

{1: 'rose', 2: 'lily', 3: 'lotus', 4: 'tilip'}

In [14]:
 print(new_dict==flower_dict)

True

In [ ]:
syntex error

In [2]:
print(ptr)

NameError: name 'ptr' is not defined

In [3]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [4]:
56/2

28.0

In [5]:
56/0

ZeroDivisionError: division by zero

In [6]:
np1=input("enter value")
np2=input("enter value")

np1/np2

enter value60
enter value5

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Handling Exeptions

the try statment works as follows.
first, the clause (the statment(s) between the try and exept keywords) is executed.
if no exeption occurs, the exept clause is skipped and execution of the try statment is finished.
if an exeption occurs during execution of the try clause, the rest of the clause is skipped.
then if it is type maches the exeption named after the exept clause is executed, and the exclution 
continues after the try statment.

In [15]:
try:
    79/0
except ZeroDivisionError as err:
    print('Handling run time error:',err)

Handling run time error: division by zero

In [ ]:
try:
    8+m*2
except NameError as err:
    print('Handling run time error:',err)

In [22]:
try:
    i=int(input("value"))
    p=50/i
except zerodivisionerror:
     print("zero division error")
except nameerror:
    print ("check name of variable :name error")
except indentationerror:
    print("check endentation")
else:
    print(p)

value4
12.5

In [23]:
a=[10,20,30]

try:
    print(a[1])
    print(a[2])
    print(a[3])
except:
    print("out of range")
else:
    print("hello")
finally:
    print("end")

20
30
out of range
end

In [ ]:
try:
    i=int(input("value"))
    p=50/i
except:
    print("an error occured")
else:
    print(p)

In [6]:
def testf():
    a=int(input('enter'))
    b=int(input('enter'))
    c=a/b
    print("c",c)

In [ ]:
try:
    testf()
except zerodivisionerror:
    
    print("divide by zero")

In [17]:
try:
    testf()
except ArithmeticError:
    print('some error')
    print("ArithmaticErrer")

enter20
enter10
c 2.0

In [25]:
def typecasting_func():
    x=input("enter value")
    y=input("enter value")
    z=x*y
    print("z=",z)

In [24]:
try:
    typecasting_func()
except typeError:
    print("typecast error")

enter value89
enter value4

NameError: name 'typeError' is not defined

In [26]:
# print(readme.read))

SyntaxError: unmatched ')' (1967759225.py, line 2)

In [27]:
#readme.close()

In [29]:
try:
    appendfile=open('deofile.txt',"a")
except IOError:
    print("file not found")
else:
    print("the file opened succesfully")
    print(appendfile.write("\n thi is the next line"))

the file opened succesfully
22

In [30]:
#appendfile.write("\n this is the next line")

In [31]:
#appendfile.close()

In [35]:
readme=open('deofile.txt','r')

In [36]:
print(readme.read())

# practice python codes

In [ ]:
DBMS(data base management system)